<html>

    <head>
        {% load staticfiles %}
        <title>Магазин Свадебных платьев</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    </head>

    {% block head %}
    <body>
    <div id='custom_background'></div>
    <div class="container" id="main_container">
        <ul class="nav nav-pills">
            <li role="presentation" class="span2">
            	<a href="/product_list" class="thumbnail">
                    <img src="{% static 'images/img5.jpg' %}" alt=""/>
                    <!--div class="caption text-center">Свадебные платья</div></!-->
                    <strong class="caption text-center">Свадебные платья</strong>
                </a></li>
            <li role="presentation" class="span2">
                <a href="#" class="thumbnail">
                    <img src="{% static 'images/img5.jpg' %}" alt=""/>
                    <strong class="caption text-center">Детские платья</strong>
                </a></li>
            <li role="presentation" class="span2">
                <a href="#" class="thumbnail">
                    <img src="{% static 'images/img5.jpg' %}" alt=""/>
                    <strong class="caption text-center">Отзывы</strong>
                </a></li>
            <li role="presentation" class="span2">
                <a href="/delivery/" class="thumbnail">
                    <img src="{% static 'images/img5.jpg' %}" alt=""/>
                    <strong class="caption text-center">О Нас</strong>
                </a></li>
        </ul>
    {% endblock %}

    {% block content %}
    {% endblock %}


    </div>


    {% block copyright %}


    {% endblock %}










    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"><\/script>')</script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>