{% extends 'shop/base_template.html' %}

{% block content %}


<div class='container content-wrapper' style='border-width:1px;margin-top:-40px'>
    <header class='header_style-4 cf'>
        <div class='branding' style='width: 257px'>
            <a href="/">
                <img alt="main_logo" src="http://rsnd-kvn.narod.ru/emblema-pic/emblema-ulybka.jpg" width="257"/>
            </a>
        </div>
        <ul class='advantages' style='width: 350px'>
            <li class='advantage-item'>ГАРАНТИЯ НИЗКИХ ЦЕН</li>
            <li class='advantage-item'>ГАРАНТИЯ ВОЗВРАТА ДЕНЕГ</li>
        </ul>
        <div class='phone'>
            <dl class='phone-w-title'>
                <dt>понед.-воскр. с 09.00 до 22.00</dt>
                <dd class='ya-phone'>8 (800) 000-00-00</dd>
            </dl>
        </div>
    </header>
</div>
        
        <!--<div class="container" id="logo_container">
            <li role="presentation" class="span2"></li>
            <li role="presentation" class="span2"></li>
            <li role="presentation" class="span2"></li>
            Логотип сайта, регистрация, Низкие цены и т.д.
        </div></!-->


        <div id="main">
			<div id="sidebar">


                <ul class="menu item">


		            <li><a href="/product_list">Доставка</a></li>


		            <li><a href="/about_us/">О нас</a></li>


                </ul>
            </div>
        </div>
{% endblock content %}

{% block copyright %}
    <div class="navigation">
        <a class="navigation_to_vk" href="https://vk.com/club38016842">
            <img src="http://www.myrivne.org/blog/vk/vkontakte-64x64.png">
        </a>
        <a class="navigation_to_facebook" href="https://facebook.com">
            <img src="http://www.lesnezrouges.fr/images/facebook_ico.png">
        </a>
    </div>
{% endblock %}